footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
} 
.footer-item{
    display: flex;
}
footer.dark {
    background-color: black;
    color: white;
}
footer.dark i{
    color: white;
}