
nav{
    position:fixed;
    z-index: 3;
    background-color: rgb(65, 19, 108);
    left: 0;
    right: 0;
    top:0;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
    opacity: 80%;
}
ul{
     display: flex;
  gap: 1rem;
  list-style: none;
  font-size: 1.25rem;
  color: white;
}
ul > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;}
  
  span{
    color: rgb(255, 255, 255);
    transform: scale(500%);
    margin-left: 30px;
  }
  ul > li, ul >li >a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
    color: white;
    text-decoration: none;
  }
  ul >li >a {
    position: relative;
    text-decoration: none;
  }


  ul >li >a.active {
    color: greenyellow;
    border-bottom: 6px solid rgb(66, 224, 38);
  }
  ul >li> a.active::after{
    position: absolute;
    left: 0;
    bottom: -4;
    width: 100%;
    background-color: greenyellow;
    border-radius: 5px;

  }
  